@font-face {
  font-family: sfpro;
  src: url(./assets/SF-Pro-Display-Regular.otf);
}

@font-face {
  font-family: jbmono;
  src: url(./assets/JetBrainsMono-VariableFont_wght.ttf);
}

body {
  font-family: sfpro;
  background-color: #273136;
  color: white;
  /* background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  background-image: url(./images/minimal-desk-right.png) */
}

a {
  color: cadetblue;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  border-width: 3px;
  border-style: outset;
  border-color: #c1ddf8;
  border-radius: 2.5em;
  display: grid;
  background-color: #000;
  margin-top: 5.4em;
  margin-bottom: 1.2em;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  color: #f6f6f6;
  height: 236px;
  padding: 1em;
  font-family: jbmono;
  font-size: max(0.5vw, 1em, 1.5rem);
}

.currentCalc {
  font-size: max(1vw, 1.5em, 2rem);
}

.btn {
  display: grid;
  grid-template-columns: repeat(4, 64px);
  grid-template-rows: minmax(64px, auto) repeat(4, 64px);
  gap: 0.35em;
  font-size: 1.9em;
  color: white;
  padding: 0.75em;
  /* padding-bottom: 0.65em; */
}

button {
  color: white;
  background-color: #43634e;
  border-radius: 5px;
  border-radius: 50px;
  border-style: none;
}

button:active {
  background-color: #96b3a0;
  transition-duration: 0.1s;
}

.clearBtn {
  background-color: #76af8a;
  color: #000;
  font-size: 0.8em;
}

.negBtn {
  background-color: #76af8a;
  color: #000;
  font-size: 0.9em;
}

.delBtn {
  background-color: #76af8a;
  color: #000;
}

.opsBtn {
  background-color: #7abdb1;
  color: white;
  font-size: 1.15em;
}

.subtr {
  font-size: 1.8em;
}

.numBtn {
  background-color: #43634e;
}

.zero {
  grid-column: span 2;
  text-align: left;
  padding-left: 0.7em;
}

.equalBtn {
  background-color: #7abdb1;
  color: white;
}

.gesture {
  border-bottom: 5px solid white;
  border-radius: 5px;
  width: 3.5em;
  margin-left: 88px;
  margin-top: 1.1em;
}

footer {
  border-radius: 20px;
  text-align: center;
  height: 4em;
  word-spacing: 3px;
  margin-left: 20.8em;

  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  width: 30.5%;

  /* Mica effect */
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
