@font-face {
  font-family: sfpro;
  src: url(./assets/SF-Pro-Display-Regular.otf);
}

@font-face {
  font-family: jbmono;
  src: url(./assets/JetBrainsMono-VariableFont_wght.ttf);
}

body {
  font-family: sfpro !important;
  background-color: #42535c;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #75c3c6;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc {
  border-width: 3px;
  border-style: outset;
  border-color: #c1ddf8;
  border-radius: 2.5em;
  display: grid;
  background-color: #000;
  margin-top: 8vw;

  backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 8px rgba(0, 0, 0, 0.2);
}

.time {
  padding: 1.5em 0 0 2em;
}

.statusMsg {
  padding: 0.8em 0 0 1.8em;
  clear: both;
  white-space: pre-wrap;
  font-size: 1.1em;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  color: #f6f6f6;
  height: 159.5px;
  padding: 1em;
  padding-right: 30px;
  padding-bottom: 10px;
  font-family: jbmono !important;
  font-size: max(1vw, 1em, 1.25rem);
  max-width: 327.906px;
}

.currentCalc {
  font-size: max(1vw, 1.5em, 2rem);
  padding-top: 5px;
  word-wrap: break-word;
  word-break: break-all;
}

.btn {
  display: grid;
  grid-template-columns: repeat(4, 2.06em);
  grid-template-rows: minmax(2.06em, auto) repeat(4, 2.06em);
  gap: 0.35em;
  font-size: 1.9em;
  color: white;
  padding: 0.75em;
  /* padding-bottom: 0.65em; */
}

button {
  color: white;
  background-color: #43634e;
  border-radius: 5px;
  border-radius: 50px;
  border-style: none;
}

.miscBtn {
  background-color: #76af8a;
  color: #000;
  transition-duration: 0.2s;
}

.miscBtn:active {
  background-color: rgb(182, 214, 193);
}

.clearBtn {
  font-size: 0.8em;
}

.negBtn {
  font-size: 0.9em;
}

.delBtn {
  color: #000;
}

.opsBtn {
  background-color: #7abdb1;
  color: white;
  font-size: 1.15em;
  transition-duration: 0.2s;
}

.opsBtn:active {
  background-color: #9fd3c9;
}

.subtr {
  font-size: 1.5em;
}

.numBtn {
  background-color: #43634e;
  transition-duration: 0.2s;
}

.numBtn:active {
  background-color: #96b3a0;
}

.zero {
  grid-column: span 2;
  text-align: left;
  padding-left: 0.7em;
}

.decimalBtn {
  background-color: #43634e;
  transition-duration: 0.2s;
}

.decimalBtn:active {
  background-color: #96b3a0;
}

.equalBtn {
  background-color: #7abdb1;
  color: white;
  transition-duration: 0.2s;
}

.equalBtn:active {
  background-color: #9fd3c9;
}

.gesture {
  border-bottom: 5px solid #e4e4e4;
  border-radius: 5px;
  width: 3.5em;
  margin-left: 88px;
  margin-top: 0.9em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  height: 3.7em;
  word-spacing: 3px;
  width: 290px;
  margin: 1.5em 0 1.5em 0;
  font-size: 1.1em;

  /* Mica effect */
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}
